
@{
    ViewBag.Title = "Login";
}

<h2>Add a new address</h2>
<div class="jumbotron">

    <form name="newAdres">
        <table class="table">
            <tr>
                <td>
                    <p>Name:</p>
                </td>
                <td>
                    <input type="text" id="name" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Address:</p>
                </td>
                <td>
                    <input type="text" id="address" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Currency:</p>
                </td>
                <td>
                    
                    <select class="form-control">
                        <option>Default select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Add" />

                </td>
            </tr>
        </table>
    </form>


</div>

