
@{
    ViewBag.Title = "History";
}

<h1 class="text-center">History</h1>

<div class="row mb-5">
    <div class="col-md-2">
        <h3>Date</h3>
    </div>

    <div class="col-md-2">
        <h3>Amount</h3>
    </div>

    <div class="col-md-2">
        <h3>Type</h3>
    </div>

    <div class="col-md-4">
        <h3>Adress</h3>
    </div>

    <div class="col-md-2">
        <h3>Status</h3>
    </div>
</div>