
@{
    ViewBag.Title = "Login";
}

<h2>My Addresses:</h2>
<div class="jumbotron">
    <table class="table">
        <tr>
            <td>
                Adress Name
            </td>
            <td width="50%">
                Adress
            </td>

            <td>
                <input type="button" class="btn btn-success" value="Send Currency">
                <input type="button" class="btn btn-success" value="Show History">
            </td>
        </tr>
        <tr>
            <td>
                Adress Name
            </td>
            <td width="50%">
                Adress
            </td>

            <td>
                <input type="button" class="btn btn-success" value="Send Currency">
                <input type="button" class="btn btn-success" value="Show History">
            </td>
        </tr>
        <tr>
            <td>
                Adress Name
            </td>
            <td width="50%">
                Adress
            </td>

            <td>
                <input type="button" class="btn btn-success" value="Send Currency">
                <input type="button" class="btn btn-success" value="Show History">
            </td>
        </tr>
    </table>

</div>

