@{
    ViewBag.Title = "Send";
}
<h1 class="text-center">Sending</h1>

<div class="row mb-2">

    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Receive adress</label>
        <input type="text" class="form-control" placeholder="" id="inputDefault">
    </div>

</div>

<div class="row mb-2">

    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Currency type</label>
        <select class="custom-select">
            <option selected=""></option>
            <option value="1">Bitcoin</option>
            <option value="2">Litecoin</option>
            <option value="3">Ethereum</option>
        </select>
    </div>
</div>

<div class="row mb-2">

    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Amount</label>
        <input type="text" class="form-control" placeholder="" id="inputDefault">
    </div>

</div>

<div class="row mb-2">
    <button type="button" class="btn btn-primary btn-lg">Send</button>
</div>