@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Cryptonit is your wallet in the cryptocurrency world. Just sign up and keep your money in the safest place.</p>
