@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Save, send, earn</h1>
    <p class="lead">Cryptonit is your wallet in the cryptocurrency world. Just sign up and keep your money in the safest place.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            Cryptonit is a modern wallet of crypto currency. Register and get to know the world of currencies of the future. Different types will be available in our system.
            Anticipate support for Bitcoin, Litecoin, Ethereum, Dodgecoin, Troncoin, Ripple, TestNet3, etc. <br /> Keep money, send money, earn money, spend money.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/community.jpg" alt="Los Angeles" width="640" height="360">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/bitwallet.jpg" alt="Chicago" width="640" height="360">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/alt.jpg" alt="New York" width="640" height="360">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <h2>Join us</h2>
        <p>Everything you need - sign up by entering your email. That's all. Now you are in the cryptoworld</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>