
@{
    ViewBag.Title = "Login";
}

<h2>Registration</h2>
<div class="jumbotron">

    <form name="register">
        <table class="table">
            <tr>
                <td>
                    <p>Name:</p>
                </td>
                <td>
                    <input type="text" id="name" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Surname:</p>
                </td>
                <td>
                    <input type="text" id="surname" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>email:</p>
                </td>
                <td>
                    <input type="email" id="email" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Login:</p>
                </td>
                <td>
                    <input type="text" id="login" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Password:</p>
                </td>
                <td>
                    <input type="password" id="password1" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Repeat password:</p>
                </td>
                <td>
                    <input type="password" id="password2" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  <input type="submit" value="Register" />
                </td>
            </tr>
        </table>
    </form>


</div>

